@model List<Email>

@{
    ViewData["Title"] = "Emails";
}

 <h3 class="toast-header">Email</h3>

  <a class="btn btn-light btn-sm m-3" asp-controller="Email" asp-action="SendMail">Send Mail</a>
@* <script>
var h = document.createElement("H1")                // Create a <h1> element
  var t = document.createTextNode("<h3>hello</h3>");
h.appendChild(t);        


</script> *@

@foreach(var item in Model)
{

<span>
<br/>

<p style="color:grey">@item.ReceivedDateTime</p>
<h4 style="color:midnightblue;">@item.Sender <h5 style="color:lightgrey;">(@item.From)</h5></h4>


<h3>@item.Subject</h3>

<hr>

      @* <p>  @await Component.InvokeAsync("Email")</p> *@

@item.Body
</span>


}