@model Microsoft.Graph.DriveItemChildrenCollectionPage

    @{
        ViewData["Title"] = "GetFiles";
    }


 <h3 class="toast-header">OneDrive Files/Folders</h3>

                            @* <a class="nav-link" asp-area="" asp-controller="OneDrive" asp-action="GetOneDrive">/root</a> *@
                     


<div class="row col ">

   


    @foreach (var item in Model){


      <span class="card card-body">  
          
            <p class="card-title"> <label >Namn: </label>
            
             @item.Name
            </p>

     

          
             
          @{if(@item.Folder != null){

             <p>  <label>Innehåll: </label>
       
   
           <a href="@item.WebUrl"><i><img height="50rem" src="/img/Folder.ico"></i>Se Mapp-Innehåll</a>
            </p>
            
            }}

         @{if(@item.Size != 0){

      @if(@item.Folder == null){

               <p>  <label>Fil-Adress: </label>
            
                  
                     <a href="@item.WebUrl"><i><img height="50rem" src="/img/Mime Blank.ico"></i>@item.WebUrl </a>
                        </p>
                        }
     
      } }


            <p>  <label>Storlek: </label>
       
           @{var size = @item.Size/1000000;
           
           
            } 
            @size Mb
            </p>
            
           
             <p>  <label>Skapad: </label>
       
           @item.CreatedDateTime
            </p>






         </span>    
    }
        
        </div>
